---
import MainLayout from "../layouts/MainLayout.astro";
import Buttondesk from "../components/Buttondesk.astro";
import Buttonmobile from "../components/Buttonmobile.astro";
import Link from "../components/Link.astro";
import Image from "astro/components/Image.astro";
import person from "../assets/images/ressourcer_svg/person.svg";
import companyhelp from "../assets/images/ressourcer_svg/companyhelp.svg";
import school from "../assets/images/ressourcer_svg/school.svg";
import church from "../assets/images/ressourcer_svg/church.svg";
import laptop from "../assets/images/ressourcer_svg/laptop.svg";
import mail from "../assets/images/ressourcer_svg/mail.svg";
import phone from "../assets/images/ressourcer_svg/phone.svg";
import deltager1 from "../assets/images/ressourcer_svg/deltager1.svg";
---

<MainLayout title="Ressourcer">
  <article class="bg-blå800 px-[16px] lg:px-[48px] poppins-regular leading-8">
    <h1
      class="pt-32 lg:pt-20 pb-[20px] lg:pb-[40px] text-3xl lg:text-5xl text-lyseblå text-center flex items-center justify-center h-[42px]"
    >
      Ressourcer og materialer
    </h1>

    <section
      class="px-[16px] pt-[40px] pb-0 w-full grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-[36px] content-center text-center text-[14px] text-rødorange poppins-regular"
    >
      <div class="flex flex-col justify-center items-center">
        <div
          class="w-[158px] flex flex-col items-center justify-center gap-[4px] rounded-[12px] bg-lyseblå h-[158px]"
        >
          <Image src={person} alt="person" class="w-full h-[75px]" />
        </div>
        <div>
          <p
            class="mt-[14px] min-h-[130px] inline-block w-[158px] text-[16px] text-center hover:underline"
          >
            <a
              target="_blank"
              href="https://drive.google.com/file/d/1LZAIsGLSJl7fOdqdp53YscYc0XTd2xv3/view"
              >Vejledning for enkeltpersoner</a
            >
          </p>
        </div>
      </div>

      <div class="flex flex-col justify-center items-center">
        <div
          class="w-[158px] flex flex-col items-center justify-center gap-[4px] rounded-[12px] bg-lyseblå h-[158px]"
        >
          <Image src={companyhelp} alt="company" class="w-full h-[75px]" />
        </div>
        <div>
          <p
            class="mt-[14px] min-h-[130px] inline-block w-[158px] text-[16px] text-center hover:underline"
          >
            <a
              target="_blank"
              href="https://drive.google.com/file/d/1ZUIJl_EztcJmYF7GVDFN1LMPRtqM_7nM/view"
              >Vejledning for virksomheder</a
            >
          </p>
        </div>
      </div>

      <div class="flex flex-col justify-center items-center">
        <div
          class="w-[158px] flex flex-col items-center justify-center gap-[4px] rounded-[12px] bg-lyseblå h-[158px]"
        >
          <Image src={school} alt="school" class="w-full h-[75px]" />
        </div>
        <div>
          <p
            class="mt-[14px] min-h-[130px] inline-block w-[158px] text-[16px] text-center hover:underline"
          >
            <a
              target="_blank"
              href="https://drive.google.com/file/d/1dDw_YexhYGTxQIKMqcLMLnyekOTkTpJ0/view"
              >Vejledning for skoler</a
            >
          </p>
        </div>
      </div>

      <div class="flex flex-col justify-center items-center">
        <div
          class="w-[158px] flex flex-col items-center justify-center gap-[4px] rounded-[12px] bg-lyseblå h-[158px]"
        >
          <Image src={church} alt="church" class="w-full h-[75px]" />
        </div>
        <div>
          <p
            class="mt-[14px] min-h-[130px] inline-block w-[158px] text-[16px] text-center hover:underline"
          >
            <a
              target="_blank"
              href="https://drive.google.com/file/d/1MRiPX57JrppZY4gwtKeKeCc0_rZX040P/view"
              >Vejledning for kommuner</a
            >
          </p>
        </div>
      </div>

      <div class="flex flex-col justify-center items-center">
        <div
          class="w-[158px] flex flex-col items-center justify-center gap-[4px] rounded-[12px] bg-lyseblå h-[158px]"
        >
          <Image src={laptop} alt="laptop" class="w-full h-[75px]" />
        </div>
        <div>
          <p
            class="mt-[14px] min-h-[130px] inline-block w-[158px] text-[16px] text-center hover:underline"
          >
            <a
              target="_blank"
              href="https://drive.google.com/file/d/1i8rKagvbCXk4JciaEg896YUUti3bjLbU/view"
              >Hvordan du <br />rydder op på din smartphone og tablet</a
            >
          </p>
        </div>
      </div>

      <div class="flex flex-col justify-center items-center">
        <div
          class="w-[158px] flex flex-col items-center justify-center gap-[4px] rounded-[12px] bg-lyseblå h-[158px]"
        >
          <Image src={mail} alt="mail" class="w-full h-[75px]" />
        </div>
        <div>
          <p
            class="mt-[14px] min-h-[130px] inline-block w-[158px] text-[16px] text-center hover:underline"
          >
            <a
              target="_blank"
              href="https://drive.google.com/file/d/1Capnwt-idzQoVtV1jNTM2HeJnvYVNQIi/view"
              >Hvordan du rydder op i dine e-mails</a
            >
          </p>
        </div>
      </div>

      <div class="flex flex-col justify-center items-center">
        <div
          class="w-[158px] flex flex-col items-center justify-center gap-[4px] rounded-[12px] bg-lyseblå h-[158px]"
        >
          <Image src={phone} alt="phone" class="w-full h-[75px]" />
        </div>
        <div>
          <p
            class="mt-[14px] min-h-[130px] inline-block w-[158px] text-[16px] text-center hover:underline"
          >
            <a
              target="_blank"
              href="https://drive.google.com/file/d/1fN0bgV8R1WAirubd_1QlSH17lYHt6eE_/view"
              >Hvordan du <br />rydder op op din smartphone og tablet</a
            >
          </p>
        </div>
      </div>

      <div class="flex flex-col justify-center items-center">
        <div
          class="w-[158px] flex flex-col items-center justify-center gap-[4px] rounded-[12px] bg-lyseblå h-[158px]"
        >
          <Image src={deltager1} alt="deltagere" class="w-full h-[75px]" />
        </div>
        <div>
          <p
            class="mt-[14px] min-h-[130px] inline-block w-[158px] text-[16px] text-center hover:underline"
          >
            <a
              target="_blank"
              href="https://docs.google.com/spreadsheets/d/1LvTHVLLRsCICSQ-FMwtqy1whl1PlQFKy/edit?gid=631660431#gid=631660431"
              >Deltager-dataindsamling 1</a
            >
          </p>
        </div>
      </div>

      <div class="lg:col-start-2 flex flex-col justify-center items-center">
        <div
          class="w-[158px] flex flex-col items-center justify-center gap-[4px] rounded-[12px] bg-lyseblå h-[158px]"
        >
          <Image src={deltager1} alt="deltagere" class="w-full h-[75px]" />
        </div>
        <div>
          <p
            class="mt-[14px] min-h-[130px] inline-block w-[158px] text-[16px] text-center hover:underline"
          >
            <a
              target="_blank"
              href="https://docs.google.com/spreadsheets/d/1k56qMJsp3zgDhlsCngBhdjaSHP_z9TqM/edit?gid=1867273678#gid=1867273678"
              >Deltager-dataindsamling 2</a
            >
          </p>
        </div>
      </div>

      <div class="lg:col-start-3 flex flex-col justify-center items-center">
        <div
          class="w-[158px] flex flex-col items-center justify-center gap-[4px] rounded-[12px] bg-lyseblå h-[158px]"
        >
          <Image src={companyhelp} alt="marketing" class="w-full h-[75px]" />
        </div>
        <div>
          <p
            class="mt-[14px] min-h-[130px] inline-block w-[158px] text-[16px] text-center hover:underline"
          >
            <a
              target="_blank"
              href="https://trello.com/b/YzROvY3M/digital-cleanup-day"
              >Marketingmaterialer</a
            >
          </p>
        </div>
      </div>
    </section>
  </article>
</MainLayout>
